<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/titlenav.css">
    <link rel="stylesheet" href="../css/style/bookResult.css">
    <link rel="stylesheet" href="../css/style/services.css">

</head>

<body>
    <div class="navigation-header">
        <div class="nav-center">
            <div class="log-left">
                <img src="../assets/logo.JPG" alt="" class="logo">
                <div class="dentist-name">
                    <div class="top-name">SMILE</div>
                    <div class="Bottom-name">DENIAL</div>
                </div>
            </div>
            <div class="right">
                <ul>
                    <a class="nav" href="./homePageIndex.html">HOME</a>
                    <a class="nav" href="./servicesIndex.html">SERVICES</a>
                    <a class="nav" href="./teams.html">TEAM</a>
                    <a class="nav" href="./contact.html">CONTACT</a>
                    <a class="nav" href="javascript:;">BOOK</a>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <div class="content-head">
                <div>Appointment confiremation</div>
            </div>
            <div class="letter">
                <div class="name">Dear </div>
                <div>your reservation request has been accepted and being processed.
                </div>
                <div class="email">A confirm email has been sent to your email,please check out the details of the appointment.</div>
                <div class="phoneNumber">The phone number you entered is</div>
                <div class="dentist">The dentist of your choice is</div>
                <div class="time">Your appointment time is</div>
                <div class="service-requirement">Details of Your Case and Service Requirements:</div>
                <div>Have a great day!</div>
                <div>SMILE Dental</div>

                <div class="done" onclick="done()">DONE</div>
            </div>

        </div>
    </div>

    <div class="footer">
        <div class="footer-left">
            <img src="../assets/logo.JPG" alt="">
        </div>
        <div class="footer-right">
            <div>1849 MERIVALE RD NEPEAN,ON K2G 1E3,(613)727-4786 information and</div>
            <div>Mon-Fri.09:00AM-08:30PM Sat.09:00AM-06:00PM Sun.09:00AM-06:00PM</div>
        </div>
    </div>
    <script src="../js/submitResult.js"></script>
</body>

</html>